<template name="bodyEmployee">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">Your skills</div>
			<div class="panel-body">
				<div class="list-group">
					<div class="list-group-item">
						<img src="/images/profilePhoto.jpeg" class="img-circle profilePhoto">
					</div>
					<a href="#" class="list-group-item">
						<span class="badge">14</span>
						Waiter
					</a>
					<a href="#" class="list-group-item">
						<span class="badge">9</span>
						Bartender
					</a>
					<a href="#" class="list-group-item">
						<span class="badge">4</span>
						Showman
					</a>
				</div>
			</div>
		</div>	
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading">Your page visitors</div>
		  <div class="panel-body">
			<div class="list-group">
					<a href="#" class="list-group-item">
						<img src="/images/profilePhoto.jpeg" class="img-circle profilePhoto">
						<span class="badge">14.12.2014 - 1:02 <small>pm</small></span>
						Waiter
					</a>
					<a href="#" class="list-group-item">
						<img src="/images/profilePhoto.jpeg" class="img-circle profilePhoto">
						<span class="badge">11.12.2014 - 2:32 <small>am</small></span>
						Bartender
					</a>
					<a href="#" class="list-group-item">
						<img src="/images/profilePhoto.jpeg" class="img-circle profilePhoto">
						<span class="badge">02.12.2014 - 12:02 <small>pm</small></span>
						Showman
					</a>
				</div>
		  </div>
		</div>
	</div>
	<div class="col-lg-3 calendarContainer">
		<div class="panel panel-default">
		  <div class="panel-heading">New deals</div>
		  <div class="panel-body">
		  	<div class="datepicker"></div>
		  </div>
		</div>
	</div>
	<div class="col-lg-9 col-lg-offset-3">
		<div class="panel panel-default">
		  <div class="panel-heading">New deals</div>
		  <div class="panel-body">
		    <table class="table table-striped table-hover ">
			  <thead>
			    <tr>
			      <th>#</th>
			      <th>Column heading</th>
			      <th>Column heading</th>
			      <th>Column heading</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>1</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>2</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>3</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>4</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>5</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>6</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			    <tr>
			      <td>7</td>
			      <td>Column content</td>
			      <td>Column content</td>
			      <td>Column content</td>
			    </tr>
			  </tbody>
			</table>
		  </div>
		</div>
	</div>
</template>